/*Login element control change items -
Blue color (default) - .button-primary, #nav, #backtoblog
Red color - .button-primary-red, #nav-red, #backtoblog-red
Green color - .button-primary-green, #nav-green, #backtoblog-green 
Login Background uses loginbackground.jpg for example */

#login {
	width: 270px;
	position: relative;
	padding: 0%;
	right: 10%;
	top: 20%;
	bottom: 20%;
	margin-left: 20%;
}

.login form {
	margin-left: auto;
	margin-right: auto;
	padding: 8px 20px 8px 20px;
	border: 1px solid rgba(0,0,0,.2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
	box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
	overflow: hidden;
}

.login label {
	color: #fff;
	line-height: 14px;
}

.login form .input,
.login input[type="text"] { color: #8c8a8a;}

/*input#rememberme {
	height: 18px;
	width: 18px;
	display: inline;
	vertical-align: middle;
	margin: 10px 0;
}
*/
/* Login Button (default) Blue Color */
.wp-core-ui input.button-primary {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float:right;
	border: 1px solid #3d5a5a;
	background: #278ab7;
	background: -webkit-gradient(linear, left top, left bottom, from(#21759b), to(#278ab7));
	background: -webkit-linear-gradient(top, #21759b, #278ab7);
	background: -moz-linear-gradient(top, #21759b, #278ab7);
	background: -ms-linear-gradient(top, #21759b, #278ab7);
	background: -o-linear-gradient(top, #21759b, #278ab7);
	background-image: -ms-linear-gradient(top, #21759b 0%, #278ab7 100%);
	padding: 0 12px 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
	box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
	text-shadow: #333333 0 1px 0;
	color: #e1e1e1;
}

.wp-core-ui input.button-primary:hover {
	border: 1px solid #3d5a5a;
	text-shadow: #333333 0 1px 0;
	background: #278ab7;
	background: -webkit-gradient(linear, left top, left bottom, from(#21759b), to(#278ab7));
	background: -webkit-linear-gradient(top, #21759b, #278ab7);
	background: -moz-linear-gradient(top, #21759b, #278ab7);
	background: -ms-linear-gradient(top, #21759b, #278ab7);
	background: -o-linear-gradient(top, #21759b, #278ab7);
	background-image: -ms-linear-gradient(top, #21759b 0%, #278ab7 100%);
	color: #fff;
}

.wp-core-ui input.button-primary:active {
	margin-top:1px;
	text-shadow: #333333 0 -1px 0;
	border: 1px solid #3d5a5a;
	background: #6da5a3;
	background: -webkit-gradient(linear, left top, left bottom, from(#278ab7), to(#278ab7));
	background: -webkit-linear-gradient(top, #278ab7, #6699CC);
	background: -moz-linear-gradient(top, #278ab7, #6da5a3);
	background: -ms-linear-gradient(top, #278ab7, #6da5a3);
	background: -o-linear-gradient(top, #278ab7, #6da5a3);
	background-image: -ms-linear-gradient(top, #278ab7 0%, #6da5a3 100%);
	color: #fff;
	-webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
	box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
}

.login #backtoblog {
	text-shadow: #ADDFFF 0 1.5px 0;
	padding: 5px 0px 0 0;
	text-align: right;
}

.login #nav {
	margin: 10px 0 0 0;
	padding: 1px 0px 0;
	text-align: left;
}

.login #nav a,
.login #backtoblog a {
	font-size: 16px;
	text-decoration: none;
}

/* Login Button Red Color */
.red.wp-core-ui input.button.button-primary {
	background: #CC0000;
	background: -webkit-gradient(linear, left top, left bottom, from(#993300), to(#CC0000));
	background: -webkit-linear-gradient(top, #993300, #CC0000);
	background: -moz-linear-gradient(top, #993300, #CC0000);
	background: -ms-linear-gradient(top, #993300, #CC0000);
	background: -o-linear-gradient(top, #993300, #CC0000);
	background-image: -ms-linear-gradient(top, #993300 0%, #CC0000 100%);
	color: #e1e1e1;
}

.red.wp-core-ui input.button-primary:active {
	margin-top:1px;
	background: -webkit-gradient(linear, left top, left bottom, from(#CC0000), to(#CC0000));
	background: -webkit-linear-gradient(top, #CC0000, #CC3300);
	background: -moz-linear-gradient(top, #CC0000, #6da5a3);
	background: -ms-linear-gradient(top, #CC0000, #6da5a3);
	background: -o-linear-gradient(top, #CC0000, #6da5a3);
	background-image: -ms-linear-gradient(top, #CC0000 0%, #6da5a3 100%);
	-webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
	box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
}

.red.login #nav,
.red.login #backtoblog {
	/*text-shadow: #FFADAD 0 1.5px 0;*/
	text-shadow: none;
	color: #CC0000;
}

.red.login #nav a,
.red.login #backtoblog a {
	/*color: #CC0000 !important;*/
	text-shadow: none;
	color: #CC0000;
}

/* Login Button Green Color */
.green.wp-core-ui input.button.button-primary {
	background: #336633;
	background: -webkit-gradient(linear, left top, left bottom, from(#339933), to(#336633));
	background: -webkit-linear-gradient(top, #339933, #336633);
	background: -moz-linear-gradient(top, #339933, #336633);
	background: -ms-linear-gradient(top, #339933, #336633);
	background: -o-linear-gradient(top, #339933, #336633);
	background-image: -ms-linear-gradient(top, #339933 0%, #336633 100%);
	color: #e1e1e1;
}

.green.wp-core-ui input.button-primary:active {
	margin-top:1px;
	background: -webkit-gradient(linear, left top, left bottom, from(#336633), to(#336633));
	background: -webkit-linear-gradient(top, #336633, #669933);
	background: -moz-linear-gradient(top, #336633, #6da5a3);
	background: -ms-linear-gradient(top, #336633, #6da5a3);
	background: -o-linear-gradient(top, #336633, #6da5a3);
	background-image: -ms-linear-gradient(top, #336633 0%, #6da5a3 100%);
}

.green.login #nav a,
.green.login #backtoblog a {
	color: #336633 !important;
}
.green.login #nav,
.green.login #backtoblog {
	/*text-shadow: #FFADAD 0 1.5px 0;*/
	text-shadow: none;
	color: #336633;
}

.green.login #nav a,
.green.login #backtoblog a {
	/*color: #CC0000 !important;*/
	text-shadow: none;
	color: #336633;
}

div.updated,
.login .message {
	background-color: lightYellow;
	border-color: #E6DB55;
	font-size: 12px;
	font-weight: 700;
}

#login_error, .login .message {
	margin: 0 0 9px 0px;
	padding: 3px 3px 4px 13px;
}

